@use "hero";
@use "components/infos_bar";
@use "components/button";
@use "event";
@use "variables.scss" as *;

* {
    margin: 0;
    border: none;
    padding: 0;
    color: $textColor;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px){
        max-width: 80%;
    }

    @media (max-width: 1024px){
        max-width: 90%;
    }
}
